.app-container {
  text-align: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/hall.png');

}

.app-container img{
    width: 25%;
    cursor: pointer;
}

.fac-container {
    display: flex;
    position: relative;
    bottom: 200px;
}

.fac {
    flex: 1;
}

.input-container {
    margin-top: 50px;
    z-index: 10001;
    position: relative;

}

.input-container input {
    width: 300px;
    height: 30px;
    font-size: 18px;
}

.input-container input:focus {
    outline: 2px solid orange;
}

.input-container button {
    margin: 10px;
    width: 120px;
    height: 30px;
}

.secret-list {
    display: flex;
    background-color: white;
}

.secret-item {
    flex: 1;
}

.spinner {
    margin: auto;
    height: 136px;
}
.player {
    position: absolute;
}
