<div class="app-container">
  <div class="player">
    <button (click)="stopMusic()">Stop</button>
    <button (click)="playMusic()">Play</button>
  </div>
  
  <img src="../assets/Sorting-Hat.png" (click)="onShowSecret()">
  <mat-spinner [diameter]="136" *ngIf="loading" class="spinner"></mat-spinner>
  <div *ngIf="!loading" class="input-container">
    <input #name type="text" [(ngModel)]="nameValue"/>
    <div>
      <button (click)="sort(name.value)">Sort</button>
    </div>
  </div>
  
  <div class="fac-container">
    <app-fac class="fac" *ngFor="let fac of facs" [logo]="fac.logo" [facName]="fac.name" [students]="fac.students"></app-fac>
  </div>
  <div *ngIf="showSecret" class="secret">
    <div>
      <input type="text" [(ngModel)]="newName"/>
      <div>
        <button (click)="addToSlytherin()">Добавить в Slytherin</button>
        <button (click)="addToGryffindor()">Добавить в Gryffindor</button>
      </div>
    </div>
    <div class="secret-list">
      <div class="secret-item">
        Slytherin
        <div *ngFor="let s of slytherinList">
          {{s.name}}
        </div>
      </div>
     <div  class="secret-item">
      Gryffindor
      <div *ngFor="let f of gryffindorList">
        {{f.name}}
      </div>
     </div>
    </div>
  </div>
</div>